{% extends 'base.html' %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Cài đặt giao diện</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tùy chỉnh giao diện</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Màu chủ đạo</label>
                            <input type="color" class="form-control" disabled>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled>Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}