{% extends 'base.html' %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Báo cáo công việc</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Gửi báo cáo</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label>Nội dung báo cáo</label>
                            <textarea name="report_content" class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}